<!-- Header section -->
<header>
  <h1>
    <img src="https://www.wildcodeschool.com/assets/logo_main-e4f3f744c8e717f1b7df3858dce55a86c63d4766d5d9a7f454250145f097c2fe.png" alt="Wild Code School logo" />
    Les Argonautes
  </h1>
</header>

<!-- Main section -->
<main>
  
  <!-- New member form -->
  <h2>Ajouter un(e) Argonaute</h2>
  
  <form #argonauteForm="ngForm" (ngSubmit)="argonauteForm.valid && onSubmit()" class="new-member-form">

    <label for="name">Nom de l&apos;Argonaute</label>
    <input id="name" #name="ngModel" name="name" type="text" placeholder="Charalampos" [(ngModel)]="argonaute.firstname" required  minlength="3" maxlength="50"/>

    <button type="submit" [disabled]="!argonauteForm.valid">Envoyer</button>

    <!-- Gestion des erreurs NAME -->
    <div *ngIf="name.errors">
      <small *ngIf="name.errors['required']">Veuillez entrer le nom de l'argonaute recruté</small>
      <small *ngIf="name.errors['minlength']">Le nom doit comporter au moins 3 caractères.</small>
      <small *ngIf="name.errors['maxlength']">Le nom doit comporter maximum 25 caractères.</small>     
    </div>

  </form>

  <!-- Member list -->
  <h2>Membres de l'équipage</h2>
  <section class="member-list">

    <app-argonaute-list></app-argonaute-list>

    <!-- <div class="member-item">Eleftheria</div>
    <div class="member-item">Gennadios</div>
    <div class="member-item">Lysimachos</div> -->
    
  </section>
</main>

<footer>
  <p>Réalisé par Jason en Anthestérion de l'an 515 avant JC</p>
</footer>